/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

$text_color: #333;
$primary_color: #fff;
$secondary_color: #ff3333;
$subdued_secondary_color: #ff7070;
$background_color: #e9e9e9;

body {
  background-color: $background_color;

  font-family: Avenir,'Segoe UI','Lucida Grande',Lucida,Verdana,Arial,sans-serif;
  font-size: 15px;
  /*font-size: small; */
  color: $text_color;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 1em;
}

h2 {
    font-size: 1.4em;
}

p {
  margin: 1em 0;
}

a {
  /* color: #172F4F; */
  color: $secondary_color;
}

a:hover {
  color: $text_color;
}

a:visited {
  color: $secondary_color;
}

table {
  font-size: inherit;
  font: 100%;
}

blockquote {
    padding-left: 15px;
    border-left: 3px solid #ff4747;
    font-style: italic;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  .posts h3 {
    line-height: 1.75em;
  }

  .posts span {
    color: #424242;
  }

  .posts .postTitle {
    text-decoration: none;
  }

  .posts .date {
    margin-bottom: 10px;
  }
  

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    width: 44em;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.5em;
    box-shadow: 0px 1px #ccc;
    border: 1px solid #ccc;


    .title {
      color: #a00;
      font-weight: bold;
      margin-bottom: 0.7em;

      a {
        color: #a00;
        text-decoration: none;
      }

      a:hover {
        color: black;
      }
    }

    img {
        max-width: 42em;
    }
}

.footer {
    font-size: 80%;
    color: #666;
    margin-top: 2em;
    overflow: hidden;
}

.archives {
    h3:not(:first-child) {
        margin-top: 30px;
    }
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post {
   margin-bottom: 10px;

  .postTitle {
     text-decoration: none;
     font-size: 1.3em;
  }


  .date {
      font-size: 0.96em;
      margin-bottom: 40px;
  }


  .postLinkTitle {
    font-size: 1.2em;
  }

  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  ul,
  ol {
    margin-left: 1.35em;
  }

  code {
    font-size: 85%;
    padding: 0 .2em;
  }

  pre code {
      border: none;
  }

  /* terminal */

  pre.terminal {
    border: 1px solid black;
    background-color: $text_color;
    color: white;
  }

  pre.terminal code {
    background-color: $text_color;
  }

  p {
    max-width: 42em;
  }

}

.presentation {
    margin-bottom: 20px;
    .intro {
        font-size: 30px;
        line-height: 46px;
        font-family: Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;
    }

}

.panels {
    overflow: auto;

    .leftPane {
        float: left;
        width: 47%;
        padding-right: 2%;
    }

    .rightPane {
        float: right;
        width: 48%;
        border-left: 1px solid #ccc;
        padding-left: 2%;
    }

    h3.section {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .category {
        margin-bottom: 10px;
        display: block;
    }

    p {
        margin-top: 0;
    }

    ul {
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 10px;
        list-style-type: none; 
        margin-left: 0;
    }
}


.important {
    background-color: #ee9090;
}

.greenlight {
    background-color: lightgreen;
}

.footnotes {
    margin-top: 50px;
}
