---
layout: default
title: Karim Hamidou's homepage
---
<div class="site">
    <div id="home">
        <div class="presentation">
            <span class="intro">Hello! My name is Karim Hamidou. <br>I'm a french software engineer who dabbles in UI design.
            </span>
            <p>
                These days, I mostly do web programming (front-end and back-end). I've written code in a lot of languages but my mainstays are <b>C</b>, <b>Python</b> and <b>Javascript</b>. 
            </p>

            <p>
                I'm working on <a href="http://kiteapp.io">Kite</a>, a modern
                webmail.
                The rest of my open source work is available on my <a
                    href="http://github.com/khamidou">Github page</a>.<br>
            </p>

            <p>
                I'm currently looking for full-time work (here's my <a href="resume_hamidou.pdf">CV</a>, by the way). 
                <br>My email address is <b>karim @ this site's domain name</b>.
            </p>
        </div>

        <div style="float: right;">
            <a href="atom.xml">
                <img src="images/rss.png" alt="Subscribe to RSS Feed" />
            </a>
        </div>


        <div class="posts">
            <p>Here are my latest blog posts:</p>

            {% for post in site.posts limit:7 %}
            <div class="post">
                <h3>
                {% if post.link %}
                <a href="{{ post.link }}" class="postLinkTitle">{{ post.title }} (link)</a>
                {% else %}
                    <a href="{{site.baseurl}}{{ post.url }}" class="postTitle">{{ post.title }}</a>
                {% endif %}
                <a href="{{site.baseurl}}{{ post.url }}" class="permalink" title="permalink">&infin;</a>
                </h3> 
            </div>
            {% endfor %}
            <p>
            Older stuff is probably in the <a href="archives.html">archives</a>
            </p>
        </div>
        <div class="footer">
            Copyright (c) 2012-{{ site.time | date: "%Y"}} Karim Hamidou.
        </div>

    </div>
</div>
