---
layout: default
title: Karim Hamidou's homepage
---
<div class="site">
    <div id="home">
        <span class="intro">Hello! My name is Karim Hamidou. <br>I'm a software
            engineer who dabbles in UI design.
        </span>
        <p>
            These days, I mostly do web programming (front-end and back-end). I've written code in a lot of languages but my mainstays are <b>C</b>, <b>Python</b> and <b>Javascript</b>. 
        </p>

        <p>
            I'm working on <a href="http://khamidou.github.io/kite">Kite</a>, a modern
            webmail.
            The rest of my open source work is available on my <a
                href="http://github.com/khamidou">Github page</a>.<br>
        </p>

        <p>
            I'm currently looking for full-time work (here's my <a href="resume_hamidou.pdf">CV</a>, by the way). 
            <br>My email address is <b>karim @ this site's domain name</b>.
        </p>
        <br>

        <h1>Latest blog posts</h1>
        <div class="posts">
            {% for post in site.posts %}
            <div class="post">
                <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>

                    {% if post.content contains '<!-- more -->' %}
                        {{ post.content | split :'<!-- more -->' | first }}
                            <a href="{{site.baseurl}}{{ post.url }}">More...</a>
                    {% else %}
                        {{ post.excerpt }}
                        <a href="{{site.baseurl}}{{ post.url }}">Continue reading</a>
                    {% endif %}
            </div>
            {% endfor %}
        </div>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-34184338-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

        </script>
    </div>
</div>
