---
layout: default
title: Archives
---
<div class="site">
    <h1>{{ page.title }}</h1>
    <div class="posts">
        <div class="archives">
        {% for month in page.months %}
        <h3>{{ month | date:"%B" }} {{ month | date:"%Y" }}</h3>
            {% for post in page.posts_by_month[month] %}
            <div class="post">
                <a href="{{ post.url }}">{{ post.title | truncate:65 }}</a>
            </div>
          {% endfor %}
        {% endfor %}
        </div>
    </div>
</div>
