<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Karim Hamidou" />
   <meta name="google-site-verification" content="aYyyfrEYBsrpbAmDopD8fY5n0aQLto4b9scrl959NUs" />_
   <link href="atom.xml" rel="alternate" title="Karim Hamidou" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="./css/syntax.css" type="text/css" />
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="./css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>
    {{ content }}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34184338-1']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

    </script>
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.khamidou.com"]);
        _paq.push(["setDomains", ["*.khamidou.com"]]);
        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]);

        (function() {
         var u=(("https:" == document.location.protocol) ? "https" : "http") + "://neyret.fr/piwik/piwik/";
         _paq.push(["setTrackerUrl", u+"piwik.php"]);
         _paq.push(["setSiteId", "2"]);
         var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
         g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
         })();
    </script>
    <!-- End Piwik Code -->
</body>
</html>
