---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Hello, I'm Karim.</h2>
                    <hr class="small">
                    <span class="subheading">
                        <p>I'm a french software engineer. I write mostly about design, software and sales.</p>
                        <p>You can contact me at <span class="fixedfont">karim</span> at <span class="fixedfont">khamidou.com</span>. I try to reply to every email (apart from spams, obviously).</p>
                        <p>I also tweet irregularly as <a href="https://twitter.com/karim_hamidou">@karim_hamidou</a>.</p>
</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
