---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Hello, I'm Karim.
                        <div style="float: right; cursor: pointer;">
                            <a href="https://github.com/khamidou"><img src='/images/github.png' alt='Github'  style="cursor: pointer"/></a>
                            <a href="https://twitter.com/karim_hamidou"><img src='/images/twitter.png' alt='Twitter' style="cursor: pointer"/></a>
                        </div>
                    </h2>
                    <hr class="small">
                    <span class="subheading">
                        <p>I'm a french software engineer living in San Francisco, CA. I spend a lot of time trying to make <a href="https://nylas.com">email better</a>.</p>
                        <p>You can contact me at <span class="fixedfont">karim</span> at <span class="fixedfont">khamidou.com</span>.<br /> I try to reply to every email (apart from spams, obviously).</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
